@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

/* Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page-container {
  width: 1160px;
  margin: 0 auto;
}
.page-header {
  color: #ffffff;
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
}
.page-footer {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #444444;
}
.page-footer a {
  color: #ffffff;
}
.footer-logo {
  display: block;
  padding-top: 62px;
  margin-bottom: 35px;
}
.header-logo {
  margin-bottom: 30px;
  display: block;
}
.search-form-wrapper {
  margin-right: 26px;
  width: 520px;
}
.user-navigation-wrapper {
  display: flex;
}
.user-navigation-row {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.navigation-list.cart-navigation {
  justify-content: end;
  max-width: 240px;
}
.main-navigation-wrapper {
  display: flex;
  width: 1040px;
  margin: 0 auto;
}
.catalog-expand-button-container {
  width: 294px;
}
.main-navigation-links-wrapper {
  margin: auto 0;
  margin-left: auto;
}
.navigation-list,
.goods-categories-list,
.social-network-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
.social-network-list {
  margin: 0 auto;
  justify-content: center;
}
.user-navigation {
  flex-grow: 1;
}
.goods-slider {
  margin-bottom: 70px;
}
.user-navigation-link {
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
}
.navigation-item:not(:last-child) .user-navigation-link {
  padding-right: 36px;
}
.navigation-list.main-navigation {
  justify-content: end;
}
.catalog-expand-button-container .button {
  padding: 15px 0;
}
.main-navigation .button {
  padding: 14px 0;
  padding-left: 45px;
}
.index-columns {
  display: flex;
  justify-content: space-between;
}
.page-footer-container {
  width: 1160px;
  margin: 0 auto;
}
.page-footer-sections-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}
.footer-contacts-address-section {
  width: 240px;
  margin-right: auto;
}
.footer-contacts-section {
  width: 175px;
  margin-left: auto;
}
.contacts-address-text{
  margin: 0;
}
.footer-navigation-item .button {
  padding: 10px;
}
.footer-navigation-item:not(:last-child) .button {
  margin-right: 5px;
}
.footer-navigation {
  margin-bottom: 62px;
}
.footer-tel-contact,
.htmlacademy-link {
  display: block;
}
.footer-tel-contact {
  margin-bottom: 62px;
}
.htmlacademy-link img {
  display: block;
  margin-left: auto;
}
.button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
}
.social-button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: lawngreen;
}
.social-item:not(:last-child) .social-button {
  margin-right: 15px;
}
/* TODO: implement this style in the correct way. At the moment, left this to mark strikeout buttons*/
.strikeout-button {
  text-decoration: line-through;
  text-decoration-color: #ffe17f;
}
.contacts-address {
  font-style: normal;
}
/* Index page */
.main-services-section,
.delivery-navigation-row,
.newsletter {
  color: #444444;
  background-color: #f0f0f0;
}
.delivery-navigation-row {
  text-align: center;
}
.services {
  margin-bottom: 70px;
}
.main-services-section {
  margin-bottom: 70px;
}
.goods-tagline,
.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}
.goods-categories {
  margin-bottom: 70px;
}
.goods-categories-list {
  display: flex;
  justify-content: space-between;
}
.goods-category-card {
  width: 160px;
}
.goods-feature-item {
  font-size: 16px;
}
.goods-feature-metric {
  font-size: 36px;
  color: #000000;
}
.goods-category-card-title {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
.goods-category-card-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 800;
  color: #000000;
}
.button.delivery-navigation-link {
  font-size: 20px;
  line-height: 24px;
}
.delivery-services-name {
  font-family: "Rubic", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}
.contact-sections {
  margin-bottom: 70px;
}
.contacts-subtitle {
  font-family: "Rubic", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: inherit;
}
.contacts-phone-link {
  color: inherit;
}
.main-container {
  flex-grow: 1;
}
.goods-preview-description-container {
  width: 560px;
}
.goods-preview-gallery-container {
  width: 560px;
}
.services-list {
  margin: 0;
  padding: 0;
  width: 280px;
}
.about-us {
  width: 520px;
}
.contacts {
  width: 532px;
}
.newsletter-top-row {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 144px;
}
.newsletter-bottom-row {
  display: flex;
  justify-content: space-between;
}
.newsletter-form-wrapper {
  width: 810px;
}
.newsletter-content {
  width: 560px;
  margin: 0;
}
.newsletter {
  padding-bottom: 56px;
}

/* Catalog page */
.main-catalog {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #f0f0f0;
}
.catalog-header,
.product-list {
  color: #000000;
  background-color: #ffffff;
}
.product-list .pagination {
  color: #444444;
  background-color: #ebebeb;
}
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}
.catalog-control-group-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
}
.catalog-filter-title,
.product-card-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
.product-card-link {
  color: inherit;
  text-decoration: none;
}
.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}
.button.pagination-show-more-button {
  font-size: 16px;
  line-height: 19px;
}
.button.pagination-link {
  font-family: "Rubic", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #444444;
}
.catalog-header {
  padding-left: 60px;
}
.catalog-left-column {
  width: 320px;
}
.catalog-right-column {
  width: 840px;
}
